<nav class="navbar navbar-expand-lg" style="background-color: #F6A58C;" data-bs-theme="dark">
  <div class="container-fluid" style="font-weight:400;"> <a class="navbar-brand" href="/"
      style="color: black;">BlogSphere</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="color: black;">Home</a>
        </li>
        <% if (locals.user) { %>
          <li class="nav-item">
            <a class="nav-link" href="/blog/add_new" style="color: black;">Add Blogs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"
              style="color: black;">
              Preet Gusain
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/user/logout" style="color: white;">Logout</a></li>
            </ul>
          </li>
          <% } else { %>
            <li class="nav-item">
              <a class="nav-link" href="/user/signup" style="color: black;">Create Account</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/user/signin" style="color: black;">Signin</a>
            </li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>

<% if (locals.error) { %>
  <div class="mt-4 container">
    <div class="alert alert-danger" role="alert" style="background-color: #FF6B6B; color: #FFF;">
      <%= locals.error %>
    </div>
  </div>
  <% } %>